@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; /* if you want all caps */
  letter-spacing: 1px; /* adjust to taste */
}
